certifi==2018.4.16
Django==2.0.5
django-multiupload==0.5.2
docxtpl==0.4.11
gunicorn==19.8.1
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
pipenv==2018.5.18
psycopg2==2.7.4
python-docx==0.8.6
pytz==2018.4
six==1.11.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
